.main_chat
  .main__header
    .name__box
      %p.name__box__group-name グループ名
      %p.name__box__Member-name Member:masa
    %p.edit-btn Edit
  .main__message
    .messagebox
      %p.messagebox__name りお
      %p.messagebox__date 2019/11/20(Wed)17:43:30
    %p.message__content おはよう
  .main__form
    .main__form__box
      %input.main__form__text{"placeholder" => "   type a message", "type" => "text"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}

    .main__form__btn
      Sent


