.side_bar
  .side__header
    .top-items
      %p.top-items__user__name
        = current_user.name
      %ul.top-items__top-item
        %li.label{class: "top-items__top-item"}
        %span.mgr-17
        =link_to "#", class: "top-items__top-item" do
          = icon('fas', 'edit')
        %span.mgr-5
        %label{class: "top-items__top-item"}
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .chat__side
    .group
      %p.group__group-name
        山田
      %p.group__latest-message
        まだメッセージはありません