* {
  box-sizing: border-box;
  }
.wrapper{

  display: flex;

    .main_chat {
      width: calc(100% - 300px);
      .main__header {
        box-sizing: border-box;
        height: 100px;
        padding: 0 40px;
        .name__box {
          float: left;
          &__group-name {
            color: #333;
            font-size: 20px;
            margin-top: 35px;
          }
          &__Member-name {
            color: #999;
            display: flex;
            font-size: 12px;
            margin-top: 15px;
            .chat-header__user {
              display: inline-block;
              padding-right: 5px;
            }
          }
        }
        .chat-header--right {
          border: 1px solid $light_blue;
          color: $light_blue;
          float: right;
          height: 40px;
          line-height: 40px;
          margin-top: 28px;
          padding: 0 20px;
        }
      }
    
      .messages {
        background-color: #FAFAFA;
        box-sizing: border-box;
        padding: 46px 40px 0;
        height: calc(100vh - 100px - 90px);
        // はみ出た部分が隠れてスクロールができる状態に
        overflow: scroll;
        .message {
          .upper-message {
            display: flex;
            &__user-name {
              color: #434a54;
              font-size: 16px;
              font-weight: bold;
            }
            &__date {
              color: #999;
              font-size: 12px;
              padding-left: 10px;
            }
          }
          .lower-message {
            margin-top: 10px;
            &__content {
              color: #434a54;
              font-size: 14px;
              margin-bottom: 40px;
            }
          }
        }
      }
    
      .form {
        background-color: #DDDDDD;
        box-sizing: border-box;
        height: 90px;
        padding: 20px 50px 20px 40px;
        &__message {
          border: none;
          float: left;
          height: 50px;
          width: calc(100% - 150px);
        }
        &__mask {
          background-color: $white;
          float: left;
          height: 50px;
          padding-right: 10px;
          line-height: 50px;
          &__image {
            font-size: 20px;
            line-height: 50px;
          }
          .hidden {
            display: none;
          }
        }
        &__submit {
          background-color: $light_blue;
          border: none;
          color: $white;
          float: right;
          font-size: 16px;
          height: 50px;
          margin-left: 15px;
          padding: 0 30px;
        }
      }
    }
    .side_bar{
      box-sizing: border-box;
      color: $white;
      width: 300px;

      .header{
        background-color: $side_blue_dark;
        height: 100px;
        line-height: 100px;
        padding: 0 20px;
        .header__name{
          font-size: 16px;
          display: inline-block;
          font-weight: bold;
        }
        .header__lists{
          display: inline-block;
          float: right;
          .list {
            display: inline-block;
          }
            .icon {
                color:#ffffff
            }
        }
        
          
      }
    }
  
    .groups{
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 0 20px;
        .group{
          box-sizing: border-box;
          padding: 20px 0 40px;
          &__name{
            font-size: 15px;
            color: #ffffff;
          }
          &__message{
            font-size: 11px;
            color: #ffffff
          }
        }
    }

      a,a:hover,a:visited {
        text-decoration: none;
      }
}